.env.local

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.DS_Store

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
phpunit-events.log
phpunit-results.xml
e2e-events.log
phpunit-main-events.log
backup_Sunday.sql
backup_Sunday.sql:Zone.Identifier
db-dump.sql
node_modules/
phpinsights_report.txt
e2e/screenshots/
build/phpinsights/report.html
cookies.txt
